In [1]:
# Importing the libraries which we need to analyze and visualize.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Reading the file
df = pd.read_excel("Retail-Supply-Chain-Sales-Dataset.xlsx")

In [3]:
# checking the type of Data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Row ID               9994 non-null   int64
 1   Order ID             9994 non-null   object
 2   Order Date           9994 non-null   datetime64[ns]
 3   Ship Date            9994 non-null   datetime64[ns]
 4   Ship Mode            9994 non-null   object
 5   Customer ID          9994 non-null   object
 6   Customer Name        9994 non-null   object
 7   Segment              9994 non-null   object
 8   Country              9994 non-null   object
 9   City                 9994 non-null   object
 10  State                9994 non-null   object
 11  Postal Code          9994 non-null   int64
 12  Region               9994 non-null   object
 13  Retail Sales People  9994 non-null   object
 14  Product ID           9994 non-null   object
 15  Category             9994 non-null   object
 16  Sub-Category         9994 non-null   object
 17  Product Name         9994 non-null   object
 18  Returned             9994 non-null   object
 19  Sales                9994 non-null   float64
 20  Quantity             9994 non-null   int64
 21  Discount             9994 non-null   float64
 22  Profit               9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(15)
memory usage: 1.8+ MB

In [4]:
# checking the missing values
missing_values = df.isnull().sum()
print(missing_values)

Row ID                 0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Postal Code            0
Region                 0
Retail Sales People    0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Returned               0
Sales                  0
Quantity               0
Discount               0
Profit                 0
dtype: int64

In [5]:
# checking the size of data
res = df.shape
print(f"No of rows and columns {res}")

No of rows and columns (9994, 23)

In [7]:
# Cleaning the Data by Removing unwanted column
df.drop(['Retail Sales People'],axis = 1, inplace = True)
# Retrieving the some rows and columns for further process
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Returned,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,Not,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-08-11,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",Not,731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-12-06,2016-12-06,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Not,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,Not,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-11-10,2015-11-10,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,Not,22.3680,2,0.20,2.5164

In [15]:
df['Segment'].unique

<bound method Series.unique of 0        Consumer
1        Consumer
2       Corporate
3        Consumer
4        Consumer
          ...
9989     Consumer
9990     Consumer
9991     Consumer
9992     Consumer
9993     Consumer
Name: Segment, Length: 9994, dtype: object>